<div class="col-12 col-sm-6 col-md-6 search-wether m-auto">
    <h3 class="text-center my-4">Search for Weather:</h3>
    <form [formGroup]="weatherSearch">
        <div class="form-group">
            <input class="form-control" type="text" id="weatherLocation" formControlName="city"
                placeholder="Please input a Location">
        </div>
        @if (errorMessage) {
        <h4 class="error-message mx-2 mt-2">{{ errorMessage }}</h4>
        }
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-success btn-md" (click)="onSearch()">
                Search for the weather
            </button>
        </div>
    </form>
</div>

<h2 class="text-center my-5 m-auto">{{ weatherData.length > 0 ? 'Weather Details:' : 'Select location' }}</h2>

<div
    class="weather-flex d-flex flex-wrap justify-content-start justify-content-xs-center justify-content-sm-center justify-content-md-center  mx-5 px-3">
    @if (weatherData) {
    @for ( weather of weatherData; track $index) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 weather-card  mt-3 ">
        <p><strong>City:</strong> {{ weather.name }}</p>
        <p><strong>Temperature:</strong> {{ weather.main.temp }}°C</p>
        <p><strong>Condition:</strong> {{ weather.weather[0].description }}</p>
        <p><strong>Date:</strong> {{ weather.date | date: 'yyyy MMM dd HH:mm' }}</p>
        <i class="bi bi-x icon-remove" (click)="onRemoveCity(weather)"></i>
    </div>
    }
    }
</div>